<br>
<div class="row">

  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Top 50 Topics in <%= city.titleize %></h3>
      </div>  
        <div class="panel-body">
          <% posts[0]['trends'].each_with_index do |post, index| %>
            <% indexplusone = index + 1 %>
            <%= "#{indexplusone}" %>. <%= link_to post['name'], search_tweets_pages_path(query: post['query']), method: :post, remote: true %><br>
          <% end %><br>
        </div>  
    </div>        
  </div>

  <div id="tweets">

</div>


